# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env

# Node
node_modules/
dist/
.vite/

# DB
*.db
*.sqlite

# IDE
.idea/
.vscode/
*.swp

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# OS
.DS_Store
Thumbs.db
